{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- bootstrap cdns -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- bootstrap cdns -->

<!-- the cdns for tabular view-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- the cdns for tabular view-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="icon" href="{% static 'images/logo.png' %}">




<title>Entry Tab</title>
</head>
<body >

    <div class="d-flex dash-hight">

        <!-- nav bar portion -->
        {% block navbar %}
          {% include "sidenavbar.html" %}
        {% endblock %}

        



        <!-- main body starts -->
        <div class="p-2 flex-fill bd-highlight bg-dash col-12 col-md-10 px-3 overflow-auto">
            <div class="container text-dark col-12">
                <h2 class="font-weight-bold">Entry Tab</h2>
                <p>Make sure to insert the data carefully.</p>
              
                <ul class="nav nav-tabs mt-4">
                  <li class="active"><a data-toggle="tab" href="#home" class="text-decoration-none">Issue</a></li>
                  <li><a data-toggle="tab" href="#menu1" class="text-decoration-none">Menu 1</a></li>
                  <li><a data-toggle="tab" href="#menu2" class="text-decoration-none">Devices</a></li>
                  <li><a data-toggle="tab" href="#menu3" class="text-decoration-none">Vendor</a></li>
                </ul>
              
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active col-10">
                    <h3 class="mb-5 font-weight-bold">HOME</h3>
                    <form>

                        <div class = "form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control mt-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
    
                        <div class="form-group mt-4">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control mt-2 mb-2" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
    
                        <small id="emailHelp" class="form-text text-white-50">Always Keep your account secure</small>
    
                        <button type="submit" class="btn unl-btn mt-3 w-100 text-white">Sign In</button>
                    </form>


                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  
                  {% comment %} adding the devicevendor form here {% endcomment %}
                  <div id="menu2" class="tab-pane fade">
                    <h4 class="mt-4 font-weight-bold">Enter Devices Data Here</h4>
                    
                    {% block deviceForm %}
                      {% include "deviceForm.html" %}
                    {% endblock %}

                  </div>

                  {% comment %} adding the vendor form here {% endcomment %}
                  <div id="menu3" class="tab-pane fade">
                    <h4 class="mt-4 font-weight-bold">Enter Vendors Data Here</h4>
                    {% block vendorForm %}
                       {% include "vendorform.html" %}
                    {% endblock %}

                  </div>

                </div>
              </div>
        </div>
        <!-- main body ends -->

    </div>


<!-- bootsrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<!-- bootsrap js -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script>
    document.addEventListener("DOMContentLoaded", function(){
          var myModal = new bootstrap.Modal(document.getElementById('myModal'))
        myModal.show();
    });
</script>

</body>
</html>