{%load static%}

    <form action="/devicetypeSubmit" class = "mt-3 mb-5">
        
        <div class = "form-group">
            <label>Enter a new device type</label>
            <input type="text" class="form-control mt-2" placeholder="Enter the device type" aria-label="Username" aria-describedby="basic-addon1" name="device_type" required>
        </div>

        <small id="emailHelp" class="form-text text-dark-50">Make Sure to insert data carefully</small>

        <button type="submit" class="btn btn-primary mt-3 w-100 text-white">Submit</button>
    </form>
