{%load static%}
<div class="p-2 flex-fill bd-highlight unl-btn col-2 d-none d-md-block d-lg-block ">
    <div class="container-fluid">
        <img class="img-fluid w-50 mx-auto d-block mt-4 mb-1 " src="{% static 'images/logo2.png' %}" alt="">
        <hr class="bg-light bg-opacity-75 pt-1">
        <div class="d-flex align-items-start flex-column bd-highlight mb-3 h-100 ">
                <div class="px-3 py-3 w-100 unl-btn my-2 text-light font-weight-bold hvrbtn rounded"> <a  href="/dashboard" class="text-decoration-none text-light"><i class="fas fa-edit mr-5" style="text-align:right;"></i> &nbsp Entry</a></div>
                <div class="px-3 py-3 w-100 unl-bg my-2 text-light font-weight-bold hvrbtn rounded"> <a  href="/records" class="text-decoration-none text-light"><i class="fas fa-database mr-5"></i>&nbsp Records</a></div>
                <div class="px-3 py-3 w-100 unl-btn my-2 text-light font-weight-bold hvrbtn rounded"><a  href="/records" class="text-decoration-none text-light"><i class="fas fa-chart-line mr-5"></i>&nbsp Dashboard</a></div>
          </div>
    </div>
</div>